body{
    background: rgb(116, 209, 214);
}









h1{
 margin-left: 40%;
 margin-right: 30%;
 margin-top: 10%;
 font-size: 50px;
}
.image{
    display: flex;
    margin-left: 30%;
}
.pName{
    display: flex;
    margin-left : 30%;
}
#im1{
   display: block;
   height: 30%;
    width: 30%;
}
#im2{
    display: block;
    height: 30%;
    width: 30%;

}